In [2]:
import numpy as np
import pandas as pd

# Parameters
n_samples = 100
np.random.seed(42)

# Generate random data for X
X = 2 * np.random.rand(n_samples, 1)

# Generate linear data for y with some noise
y = 4 + 3 * X + np.random.randn(n_samples, 1)

# Create a DataFrame
data = pd.DataFrame(data=np.hstack((X, y)), columns=['X', 'y'])

# Save to CSV (optional)
data.to_csv('linear_regression_data.csv', index=False)

print(data.head())

          X         y
0  0.749080  6.334288
1  1.901429  9.405278
2  1.463988  8.483724
3  1.197317  5.604382
4  0.312037  4.716440

In [4]:
data

           X         y
0   0.749080  6.334288
1   1.901429  9.405278
2   1.463988  8.483724
3   1.197317  5.604382
4   0.312037  4.716440
..       ...       ...
95  0.987591  6.146963
96  1.045466  7.059295
97  0.855082  6.906398
98  0.050838  4.429206
99  0.215783  5.474532

[100 rows x 2 columns]