In [ ]:
# %%writefile model_app.py

# those who use colab
# file name : model_app.py

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('/content/Customer Data.csv')
df.head(1)

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.4,0.0,95.4,0.0,0.166667,0.0,0.083333,0.0,0,2,1000.0,201.802084,139.509787,0.0,12

In [ ]:
import numpy as np
import pandas as pd

import joblib
from sklearn.cluster import KMeans

import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('Customer Data.csv')
df.head(1)

df.info()

df.columns

df_orig = df.copy()

df.drop(columns=['CUST_ID'], inplace=True)
df.head(1)

df.info()

model = KMeans(2, random_state=10)
model.fit(df.dropna())

joblib.dump(model,"mymodel.pkl")

import joblib
loaded_model = joblib.load('mymodel.pkl')
df.iloc[[0]]
loaded_model.predict(df.iloc[[0]])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8950 entries, 0 to 8949
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CUST_ID                           8950 non-null   object
 1   BALANCE                           8950 non-null   float64
 2   BALANCE_FREQUENCY                 8950 non-null   float64
 3   PURCHASES                         8950 non-null   float64
 4   ONEOFF_PURCHASES                  8950 non-null   float64
 5   INSTALLMENTS_PURCHASES            8950 non-null   float64
 6   CASH_ADVANCE                      8950 non-null   float64
 7   PURCHASES_FREQUENCY               8950 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY        8950 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY  8950 non-null   float64
 10  CASH_ADVANCE_FREQUENCY            8950 non-null   float64
 11  CASH_ADVANCE_TRX                  8950 non-null   int64
 12  PURCHASES_TRX                     8950 non-null   int64
 13  CREDIT_LIMIT                      8949 non-null   float64
 14  PAYMENTS                          8950 non-null   float64
 15  MINIMUM_PAYMENTS                  8637 non-null   float64
 16  PRC_FULL_PAYMENT                  8950 non-null   float64
 17  TENURE                            8950 non-null   int64
dtypes: float64(14), int64(3), object(1)
memory usage: 1.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8950 entries, 0 to 8949
Data columns (total 17 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   BALANCE                           8950 non-null   float64
 1   BALANCE_FREQUENCY                 8950 non-null   float64
 2   PURCHASES                         8950 non-null   float64
 3   ONEOFF_PURCHASES                  8950 non-null   float64
 4   INSTALLMENTS_PURCHASES            8950 non-null   float64
 5   CASH_ADVANCE                      8950 non-null   float64
 6   PURCHASES_FREQUENCY               8950 non-null   float64
 7   ONEOFF_PURCHASES_FREQUENCY        8950 non-null   float64
 8   PURCHASES_INSTALLMENTS_FREQUENCY  8950 non-null   float64
 9   CASH_ADVANCE_FREQUENCY            8950 non-null   float64
 10  CASH_ADVANCE_TRX                  8950 non-null   int64
 11  PURCHASES_TRX                     8950 non-null   int64
 12  CREDIT_LIMIT                      8949 non-null   float64
 13  PAYMENTS                          8950 non-null   float64
 14  MINIMUM_PAYMENTS                  8637 non-null   float64
 15  PRC_FULL_PAYMENT                  8950 non-null   float64
 16  TENURE                            8950 non-null   int64
dtypes: float64(14), int64(3)
memory usage: 1.2 MB

array([0], dtype=int32)

In [ ]:
#  /content/mymodel.pkl

In [ ]:
import numpy as np
import pandas as pd

import joblib
from sklearn.cluster import KMeans

import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('Customer Data.csv')
df.head(1)

df.info()

df.columns

df_orig = df.copy()

df.drop(columns=['CUST_ID'], inplace=True)
df.head(1)

df.info()

model = KMeans(2, random_state=10)
model.fit(df.dropna())

joblib.dump(model,"mymodel.pkl")

import joblib
loaded_model = joblib.load('mymodel.pkl')
df.iloc[[0]]
loaded_model.predict(df.iloc[[0]])

In [ ]:
%%writefile model_app.py
import streamlit as st
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

import joblib

fp  = 'Customer Data.csv'
df = pd.read_csv(fp)

print('data loaded')

# lopp theu dataframe and assign the link or create the respective fields
selected_values = {}
for column in df.drop(columns=['CUST_ID']).columns:
    selected_values[column] = st.number_input(
    f'Select a value for {column}'
    )

print('elements are created')

pklfile = "mymodel.pkl"
if st.button('Submit'):
    # load the model
    model = joblib.load(pklfile)

    input_data = [list(selected_values.values())]

    #prediction
    prediction = model.predict(input_data)

    #write the result
    st.write(f"Prediction: the input data belongs to cluster:{prediction}")

Overwriting model_app.py

In [ ]:
!pip install streamlit -q

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.3/44.3 kB 2.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.1/9.1 MB 61.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.9/6.9 MB 81.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.1/79.1 kB 4.7 MB/s eta 0:00:00

In [ ]:
!streamlit run model_app.py

Collecting usage statistics. To deactivate, set browser.gatherUsageStats to false.


  You can now view your Streamlit app in your browser.

  Local URL: http://localhost:8501
  Network URL: http://172.28.0.12:8501
  External URL: http://34.28.185.198:8501

  Stopping...
^C

In [ ]:
!streamlit run model_app.py & npx localtunnel --port 8501

Collecting usage statistics. To deactivate, set browser.gatherUsageStats to false.

⠙⠹⠸
  You can now view your Streamlit app in your browser.

  Local URL: http://localhost:8501
  Network URL: http://172.28.0.12:8501
  External URL: http://34.28.185.198:8501

⠼⠴your url is: https://ripe-rice-dig.loca.lt
data loaded
elements are created
data loaded
elements are created
data loaded
elements are created
data loaded
elements are created
data loaded
elements are created

In [ ]:
!curl ipv4.icanhazip.com

34.28.185.198